<div
  fxLayout="row wrap"
  fxLayoutAlign="center"
  fxLayoutGap.xs="0"
  fxLayoutGap="5px"
>
  <div fxFlex="40%">helo</div>
  <div fxFlex="60%">
    <div
      fxLayout="row wrap"
      fxLayoutAlign="center"
      fxLayoutGap.xs="0"
      fxLayoutGap="5px"
    >
      <div fxFlex="40%"><app-worker></app-worker></div>
      <div fxFlex="40%"><app-balance></app-balance></div>
      <div fxFlex="40%">Visitations</div>
      <div fxFlex="40%">Worker hith hiest and lowest salary</div>
      <div fxFlex="40%">Chart</div>
    </div>
  </div>
</div>
